
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) { 
	.nav-top,.nav-wrap{
		width: 970px;
	}
	.nav-top{
		height: 26px;
		line-height: 26px;
	}
	.nav-top .tip,.nav-top .email{	
		font-size: 12px;
	}
	.nav-top .tel{
		font-size: 14px;
		margin-left: 4px;
	}

	.nav-top .nav-top-right span{
		width: 64px;
	}

	.nav-wrap{
		height: 66px;
	}
	.logo{
		margin-top:9px;
	}
	.logo,.logo img{
		width: 145px;
		height: 41px;
	}
	nav{
		width: 650px;
		font-size: 14px;
		top:22px;
	}
	nav a{
		width: 98px;
	}
	nav p a{
		width: 78px;
	}
	nav p:before{
		left:-14px;
	}
	nav p:after{
	    right: -11px;
	    top: 0px;
	}
	.top-search-group input{
		height: 27px;
		line-height: 15px;
		padding: 4px 8px;
		width: 256px;
	}

}
