.mt15{
	margin-top: 0.125rem;
}

.ml15{
	margin-left: 0.125rem;
}

.mlr48{
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}

.h45{
	height: 0.28125rem;
}

.ml35{
	margin-left: 0.21875rem;
}

.mt20{
	margin-top: 0.125rem;
}

.mt60{
	margin-top: 0.375rem;
}

.mtb20{
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
}

.w30{
	width: 0.3125rem;
}

.w50{
	width: 0.520833rem;
}

.w110 {
	width: 1.041667rem;
}

.w240{
	width: 2.5rem;
}
.w500{
	width: 3.125rem;
}
.wb100{
	width: 100%;
}

.align-center{
	margin-left:auto;
	margin-right: auto;
}
.text-center{
	text-align: center;
}
.box-show{
	-moz-box-shadow:0px 1px 10px #C0C1C5;
	-webkit-box-shadow:0px 1px 10px #C0C1C5;
	box-shadow:0px 1px 10px #C0C1C5;
}
label{
	font-weight:normal;
}
.clear{
	clear: both;
	overflow: hidden;
	content: "";
}
.red{
	color: #ff0000;
}