.mt20{
	margin-top: 20px;
}
.mt60{
	margin-top: 60px;
}
.mb40{
	margin-bottom: 40px;
}

.box-show{
	-moz-box-shadow:0px 1px 10px #C0C1C5;
	-webkit-box-shadow:0px 1px 10px #C0C1C5;
	box-shadow:0px 1px 10px #C0C1C5;
}
label{
	font-weight:normal;
}
.clear{
	clear: both;
	overflow: hidden;
	content: "";
}
.red{
	color: #ff0000;
}