

/*button*/
.btn{
	border-radius: 0px;
}
.btn-search{
	background-color: #0085ce;
	color: #fff;
}
.btn-search:hover{
	color: #fff;
	background-color: #ffa900;
}

/*cyh*/
.bord-hui{
	border:solid 1px #ccc;
}
.padd10{
	padding:10px;
}
.nav-tabs li{
	text-align:center;
}

.nav-lists{
	width:100%;
}
.nav-lists li{
	float:left;
	width:20%;
	margin:10px;
}
.nav-lists li a{
	display: block;
}
.nav-lists li a:before{
	display: block;
	height: 1px;
	width: 0;
	background: #fff;
	position: absolute;
	content: '';
	left: 50%;
	bottom: -2px;
	transition: all .3s;
}
