/*头部 start*/
header{
	background: url("../img/picture/headerImg.jpg") no-repeat;
	background-size:100% 1.041667rem;
	height: 1.041667rem;
	overflow: hidden;
}

.wellcome{
	background-color: #fff;
	border-radius: 0.083333rem;
	-moz-box-shadow:0px 6px 6px #2b75af;
	-webkit-box-shadow:0px 6px 6px #2b75af;
	box-shadow:0px 6px 6px #2b75af;
	text-align: center;
}

.wellcome a{
	color: #000;
}

nav{
	background-color: #0085ce;
}

nav a{
	color: #fff;
	font-weight: bold;
	padding: 0px 0.208333rem;
}

nav a:hover,nav a:visited,nav a:active,nav a:link{
	color: #fff;
	font-size: 0.133333rem;
}

nav a:hover,nav a.active{
	background-color: #ffa900;
}

/*头部 start*/

footer{
	font-size: 0.1rem;
	color: #909090;
	border-top: 2px solid #0186ce;
}

footer .footer-link a{
	color: #909090;
	border-right: 1px solid #909090;
	padding:0px 0.25rem;
}

footer .footer-link a:last-child{
	border:none;
}

footer .footer-text{
	width: 5.25rem;
	margin:0px auto;
}

footer span{
	color: #0186ce;
}

/*button*/
.btn{
	border-radius: 0px;
}
.btn-search{
	background-color: #0085ce;
	color: #fff;
}
.btn-search:hover{
	color: #fff;
	background-color: #ffa900;
}