

/*button*/
.btn{
	border-radius: 0px;
}
.btn-search{
	background-color: #0085ce;
	color: #fff;
}
.btn-search:hover{
	color: #fff;
	background-color: #ffa900;
}

/*cyh*/
.bord-hui{
	border:solid 1px #ccc;
}
.padd10{
	padding:10px;
}
.nav-tabs li{
	text-align:center;
}