
.menus{
	width:30%;
}
.menus h4{
	background: #eee;
	height:50px;
}
.menus h4 span{
	display: block;
	float:right;
}
.menus ul li{
	margin-left:10px;
}
.menus ul li h5{

}
.menus ul li span{
	margin-left:20px;
	display: block;
}
