@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ezsp46');
  src:  url('../fonts/icomoon.eot?ezsp46#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ezsp46') format('truetype'),
    url('../fonts/icomoon.woff?ezsp46') format('woff'),
    url('../fonts/icomoon.svg?ezsp46#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-add:before {
  content: "\e900";
}
.i-calendar:before {
  content: "\e901";
}
.i-camera-(1):before {
  content: "\e902";
}
.i-camera:before {
  content: "\e903";
}
.i-cc-chevron-left:before {
  content: "\e904";
}
.i-cc-chevron-right:before {
  content: "\e905";
}
.i-chevron-left:before {
  content: "\e906";
}
.i-chevron-right:before {
  content: "\e907";
}
.i-circle-crude:before {
  content: "\e908";
}
.i-circle:before {
  content: "\e909";
}
.i-delete:before {
  content: "\e90a";
}
.i-edit:before {
  content: "\e90b";
}
.i-exclamation:before {
  content: "\e90c";
}
.i-ic_verified_user:before {
  content: "\e90d";
}
.i-list:before {
  content: "\e90e";
}
.i-lock:before {
  content: "\e90f";
}
.i-ok:before {
  content: "\e910";
}
.i-remove-crude:before {
  content: "\e911";
}
.i-remove:before {
  content: "\e912";
  color: #555;
}
.i-remove-sign-crude:before {
  content: "\e913";
}
.i-remove-sign:before {
  content: "\e914";
}
.i-search:before {
  content: "\e915";
}
.i-sort-down:before {
  content: "\e916";
}
.i-sort-up:before {
  content: "\e917";
}
.i-thumbs-o:before {
  content: "\e918";
}
.i-user:before {
  content: "\e919";
}
.i-user-bg:before {
  content: "\e91a";
}
