/*header{
	width: 100%;
	position: relative;
	background-color: rgba(0,0,0,.0);
}
header.active{
	background-color: rgba(10, 10, 10, 0.9);
}
.nav-top-wrap{
	width: 100%;
	background: #181818;
	overflow: hidden;

}

.nav-top,.nav-wrap{
	margin:0px auto;	
}
.nav-top{
	color:#595959;
}
.nav-top .tip,.nav-top .email{
	
	font-size: 12px;
}
.nav-top .tel{
	color: #c8a165;
	font-size: 14px;
	margin-left: 4px;
}
.nav-top .tip:hover,
.nav-top .email:hover,
.nav-top .nav-top-right span:hover,.nav-top .nav-top-right i:hover{
	color: #fff;
}
.nav-top .nav-top-right span{
	display: inline-block;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.nav-top .nav-top-right i{
	cursor: pointer;
}
.nav-wrap{
	position: absolute;
	z-index: 999999;
}
.logo{
	margin-top:11px;
}
.logo,.logo img{
	display: inline-block;
}
nav{
	display: inline-block;
	position: absolute;
	right: 0px;
	color:#fff;
	font-size: 14px;
	top:27px;
}
nav a{
	display: inline-block;
	color:#fff;
}
nav a:hover{
	color: #fff;
}
nav p{
	display: inline-block;
	position: relative;
}
nav p a{
	text-align: center;
}
nav p:before{
	content: "|";
	display: block;
	width: 1px;
	position: absolute;
}
nav p:after{
	content: "|";
	display: block;
	width: 1px;
    position: absolute;
 
}
.top-search-btn{
	background: none;
	border:none;
}
.top-search-group{
	position: absolute;
    right: 0px;
    top: -7px
}
.top-search-group input{
	background: #181818;
	border:none;
	height: 34px;
	line-height: 24px;
	padding: 5px 10px;
	width: 320px;
}
.top-search-btn{
	background: none;
    border: none;
    position: absolute;
    right: 8px;
    top: 10px;
}
.sowingMap img{
	width: 100%;
}
*/

.top-search-group{
	position: absolute;
    right: 0px;
    top: 0px
}
.top-search-group input{
	background: #181818;
	border:none;
	height: 34px;
	line-height: 24px;
	padding: 5px 10px;
	width: 182px;
}
.top-search-btn{
	background: none;
    border: none;
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 17px;
    color: #fff;
}
.navbar-custom .navbar-nav>li>a{
	font-size: 14px;
}
.navbar-custom .navbar-nav>li>a:visited{
	color: #fff;
}
.nav-top-wrap{
	width: 100%;
	background: #181818;
	overflow: hidden;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	color:#595959;
	text-transform:none;
}
.nav-top-wrap a{
	cursor: pointer;
}
.nav-top-wrap .tip,.nav-top-wrap .email{
	
	font-size: 12px;
}
.nav-top-wrap .tel{
	color: #c8a165;
	font-size: 14px;
	margin-left: 4px;
}
.nav-top-wrap .tip:hover,
.nav-top-wrap .email:hover,
.nav-top-wrap .nav-top-right span:hover,.nav-top-wrap .nav-top-right i:hover{
	color: #fff;
}
.nav-top-wrap .nav-top-right span{
	display: inline-block;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	width: 80px;
}
.nav-top-wrap .nav-top-right i{
	cursor: pointer;
}
.navbar-transparent{
	padding-top:0px;
}
.navbar-custom{
	padding-top: 0px;
}

ul.nav{
	padding: 18px 0px 22px;
}
.litteBanner{
	margin:30px auto;
}
.litteBanner li{
	margin-bottom: 30px;
}
/*买手推荐*/
.ico-wrap{
	background: #fff;
	width: 90%;
	height: 60px;
	border-radius: 30px;
	margin:0px auto;
	margin-top:45%;
	position: relative;
	color:#595959;

}
.ico-wrap:before{
	content: "|";
	display: block;
	width: 1px;
	height: 30px;
    position: absolute;
    color:#dadada;
    left:45%;
    top:34%;
}
.ico-wrap span{
	line-height: 60px;
}

.buyer-text{
	height: 89px;
	display: block;
	color: #333333;
	font-size: 18px;
	font-family:"微软雅黑",tahoma,arial,"Hiragino Sans GB",simsun,
	sans-serif;
	position: relative;
}

.buyer-text{
	
}
.buyer-text:before{
	content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: #333333;
    transition: all .3s;
}
.buyer-text:hover:before {
	width: 100%;
	left: 0;
	right: 0;
}
