html{
	font-size: 96px;
}
body,header,.web-wrapper{
	min-width: 960px;
}

header{
	height: 0.4375rem;
	font-size:0.1rem;
}

header{
	padding: 0.0rem 0.3rem;
}

header .logo{
	
}

header .logo img{
	width: 3.808333rem;
	height: 0.308333rem;
}



nav {
	position: relative;
	z-index: 3;
}

nav a{
	display: inline-block;
	margin:0.104167rem;
}

footer{
 text-align: center;
}

footer p{
	margin:0.15rem auto;
}

.web-wrapper{
	position: relative;
	height: 100%;
}

.main{
	min-width: 10.0rem;
	width: 80%;
	position: relative;
	margin:0.166667rem auto;
	clear: both;
	overflow: hidden;

}

.main.mobile-client{
	margin:0.0rem auto;

}
.news{
	border:1px solid #7cbaec;
	margin-top: 0.03125rem;
	font-size: 0.145833rem;
	font-family:"宋体";
	line-height: 0.25rem;
}
.page{
	margin-top:10px;
	min-height: 300px;
}
/***********************************************************@media start**********************************/


@media (min-width: 960px){
	html{
		font-size: 96px;
	}
	header,.web-wrapper{
		min-width: 960px;
	}
	
}

@media (min-width: 980px){
	html{
		font-size: 98px;
	}
	header,.web-wrapper{
		min-width: 980px;
	}	
	
}


@media (min-width: 1140px){
	html{
		font-size: 114px;
	}
	header,.web-wrapper{
		min-width: 1140px;
	}
	
}

@media (min-width: 1228px){
	html{
		font-size: 114px;
	}
	header,.web-wrapper{
		min-width: 1228px
	}	
}

@media (min-width: 1440px){
	html{
		font-size: 144px;
	}
	header,.web-wrapper{
		min-width: 1440px;
	}	
}




@media (min-width: 1600px){
	html{
		font-size: 160px;
	}
	header,.web-wrapper{
		min-width: 1600px;
	}	
}







/****************************************************@media end****************************************/


