.magic-checkbox {position: absolute;display: none; }
.magic-checkbox[disabled] {cursor: not-allowed; }
.magic-checkbox + label:hover:before {
animation-duration: 0.4s;
animation-fill-mode: both;
animation-name: hover-color; }
.magic-checkbox + label:after {position: absolute;display: none;content: ''; }
.magic-checkbox[disabled] + label {cursor: not-allowed;} 
.magic-checkbox[disabled] + label:hover,
.magic-checkbox[disabled] + label:before,
.magic-checkbox[disabled] + label:after { cursor: not-allowed; }
.magic-checkbox[disabled] + label:hover:before { border: 1px solid #c0c0c0;animation-name: none; }
.magic-checkbox[disabled] + label:before { border-color: #c0c0c0; }
.magic-checkbox:checked + label:before { animation-name: none; }
.magic-checkbox:checked + label:after { display: block; }
/*.magic-checkbox + label:before {border-radius: 3px; }*/
.magic-checkbox + label:after {box-sizing: border-box;}


.magic-radio{position:absolute;display: none;}
.magic-radio[disabled] {cursor: not-allowed;}
.magic-radio + label {position: relative;display: block; padding-left: 30px;cursor: pointer; vertical-align: middle;}
.magic-radio + label:hover:before { animation-duration: 0.4s; animation-fill-mode: both; animation-name: hover-color;}
.magic-radio[disabled] + label {cursor: not-allowed; color: #ea0025;}
.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after {cursor: not-allowed;}
.magic-radio[disabled] + label:hover:before { border: 1px solid #ea0025; animation-name: none;}
.magic-radio[disabled] + label:before { border-color: #ea0025;}
.magic-radio:checked + label:before { animation-name: none;}
.magic-radio:checked + label:after { display: block;}
.magic-radio + label:before {border-radius: 50%;}
.magic-radio:checked + label:before {border: 1px solid #ea0025;}
.magic-radio:checked[disabled] + label:before { border: 1px solid #ea0025;}
.magic-radio:checked[disabled] + label:after { background: #ea0025;}

.magic-checkbox+label {
	height: 12px;
	line-height: 12px;
	position: relative;
	display: block;
	cursor: pointer;
	vertical-align: middle;
	font-size: 12px;
	color: #989898;
	margin: 0;
}

.magic-checkbox+label:before {
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline-block;
	width: 12px;
	height: 12px;
	content: '';
	border: 1px solid #878787;
}

.magic-checkbox+label:before {
	border: 1px solid #878787;
}

.magic-checkbox:checked+label:before {
	background: #fff;
	border: 1px solid #c8a165;
	box-shadow: 0px 0px 3px #c8a165;
	-moz-box-shadow: 0px 0px 3px #c8a165;
	-webkit-box-shadow: 0px 0px 3px #c8a165;
}

.magic-checkbox:checked[disabled]+label:before {
	background: #c8a165;
}

.magic-checkbox+label:after {
	top: 2px;
	left: 2px;
	box-sizing: border-box;
	width: 8px;
	height: 8px;
	background: #c8a165;
	border-radius: 2px;
}