/*************index*****************/
/*买手推荐*/
.buyer a{
	font-size: 12px;
	font-weight: bold;
	position: relative;
}
.buyer-text{
	height: 22px;
	display: block;
	color: #333333;
	font-size: 18px;
	font-family:"微软雅黑",tahoma,arial,"Hiragino Sans GB",simsun,
	sans-serif;
	position: relative;
	font-size: 12px;
}

.buyer-text span:before{
	content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: #333333;
    transition: all .3s;
}
.buyer-text span:hover:before {
	width: 100%;
	left: 0;
	right: 0;
}

.designer.buyer dl{
	margin-bottom:90px;
	position: relative;
}
.designer.buyer dl div{
	position: absolute;
	bottom:-48px;
}
/*买手推荐 end*/

.ico-wrap{
	background: #fff;
	width: 90%;
	height: 60px;
	border-radius: 30px;
	margin:0px auto;
	margin-top:60px;
	position: relative;
	color:#333333;
	font-size: 18px;

}
.ico-wrap:before{
	content: "|";
	display: block;
	width: 1px;
	height: 30px;
    position: absolute;
    color:#dadada;
    left:45%;
    top:28%;
}
.ico-wrap span{
	line-height: 60px;
	margin-right: 44px;
    margin-left: 21px;
}
.ico-wrap span:hover{
	color:#c8a165;
}
#loadMore{
	position: relative;
	height:55px;
	text-align:center;
	color:#333;
	font-size:12px;
	cursor: pointer;
}

/*首页轮播图样式*/
.sowingMap{
	width: 100%;
}
.sowingMap img{
	width: 100%;
}
/*标题*/
.index-title-ul{
	float: right;
	margin-top: 23px;
}
.index-title-ul li{
	width: 100px;
	text-align: center;
	float: left;
	
}
.index-title-ul li a{
	color: #4e4e4e;
	position: relative;
}
.index-title-ul li a:before{
	content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: #000;
    transition: all .3s;
}
.index-title-ul li a:hover:before {
	width: 100%;
	left: 0;
	right: 0;
}
.index-title-ul li.more a:before{
	display: none;
}
.index-title-ul li.more a,span.more a{
	color: #cca76f;
	font-weight: bold;
}
span.more{
	float: right;
	margin-top: 20px;
}
.index-title-ul li.more a:hover,span.more a:hover{
	color: #f3dab2;
}
/*************index*****************/

/*商品列表*/
.goods{
	margin-right: 0px;
}
.goods dl{
	width: 33.334%;
}
.goods .ico-wrap{

}
.top-option{
	position: relative;
	height: 45px;
	margin-bottom: 24px;
	border-bottom: 1px solid #e1e1e1;
}
.top-option i{
	position: absolute;
	left:0px;
}
.center-num{
	width: 155px;
	margin:0px auto;
}
.center-num span,.center-num select,.goods-order span,.goods-order select{
	display: inline-block;
}
.center-num select,.goods-order select{
	width: 73px;
	margin:0px 10px;
}
.goods-order{
	position: absolute;
	right: 0px;
	top:0px;
}