/*************index*****************/
.top-search-group{
    position: absolute;
    right: 0px;
    top: 0px;
    /* position: relative; */
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    }
.top-search-group input{
    /*background: none;*/
    border: none;
    background: url("../img/search.png") right center no-repeat;
    height: 34px;
    line-height: 24px;
    padding: 5px 15px;
    width: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;

}

.searchHover:before{
	z-index: 100;
}
.leftLine,.rightLine{
	position: relative;
}
.leftLine:before,.rightLine:before{
	content:"|";
	position: absolute;
	display: block;
	width: 1px;
	height: 36px;
	top:10px;
	color: #fff;
}
.rightLine:before{
	right: 0px;
}

.navbar-custom .navbar-nav>li>a{
	font-size: 14px;
}
.navbar-custom .navbar-nav>li>a:visited{
	color: #fff;
}
.nav-top-wrap{
	width: 100%;
	background: #181818;
	overflow: hidden;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	color:#595959;
	text-transform:none;
}
.nav-top-wrap a{
	cursor: pointer;
}
.nav-top-wrap .tip,.nav-top-wrap .email{
	font-family: "Hiragino Sans GB";
	font-size: 12px;
}
.nav-top-wrap .tel{
	color: #c8a165;
	font-size: 14px;
	margin-left: 4px;
}
.nav-top-wrap .tip:hover,
.nav-top-wrap .email:hover,
.nav-top-wrap .nav-top-right span:hover,.nav-top-wrap .nav-top-right i:hover{
	color: #fff;
}
.nav-top-wrap .nav-top-right span{
	display: inline-block;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	width: 80px;
}
.nav-top-wrap .nav-top-right i{
	cursor: pointer;
}
.navbar-transparent{
	padding-top:0px;
}
.navbar-custom{
	padding-top: 0px;
}

ul.nav{
	padding: 18px 0px 22px;
}
.litteBanner{
	margin:30px auto;
}
.litteBanner li{
	margin-bottom: 30px;
}
/*买手推荐*/
.buyer a{
	font-size: 12px;
	font-weight: bold;
	position: relative;
}
.buyer-text{
	height: 22px;
	display: block;
	color: #333333;
	font-size: 18px;
	font-family:"微软雅黑",tahoma,arial,"Hiragino Sans GB",simsun,
	sans-serif;
	position: relative;
	font-size: 12px;
}

.buyer-text span:before{
	content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: #333333;
    transition: all .3s;
}
.buyer-text span:hover:before {
	width: 100%;
	left: 0;
	right: 0;
}

.designer.buyer dl{
	margin-bottom:90px;
	position: relative;
}
.designer.buyer dl div{
	position: absolute;
	bottom:-48px;
}
/*买手推荐 end*/

.ico-wrap{
	background: #fff;
	width: 90%;
	height: 60px;
	border-radius: 30px;
	margin:0px auto;
	margin-top:70px;
	position: relative;
	color:#333333;
	font-size: 18px;

}
.ico-wrap:before{
	content: "|";
	display: block;
	width: 1px;
	height: 30px;
    position: absolute;
    color:#dadada;
    left:45%;
    top:28%;
}
.ico-wrap span{
	line-height: 60px;
	margin-right: 44px;
    margin-left: 21px;
}



/*轮播图样式*/
.sowingMap{
	width: 100%;
}
.sowingMap img{
	width: 100%;
}
/*标题*/
.index-title-ul{
	float: right;
	margin-top: 23px;
}
.index-title-ul li{
	width: 100px;
	text-align: center;
	float: left;
	
}
.index-title-ul li a{
	color: #4e4e4e;
	position: relative;
}
.index-title-ul li a:before{
	content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: #000;
    transition: all .3s;
}
.index-title-ul li a:hover:before {
	width: 100%;
	left: 0;
	right: 0;
}
.index-title-ul li.more a:before{
	display: none;
}
.index-title-ul li.more a,span.more a{
	color: #cca76f;
	font-weight: bold;
}
span.more{
	float: right;
	margin-top: 20px;
}
.index-title-ul li.more a:hover,span.more a:hover{
	color: #f3dab2;
}
/*************index*****************/