<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站</title>
  <script src="../common/css.js"></script>
</head>
<body>
<div class="wrapper-page container">
	<!--面包屑-->
	<div class="breadcrumb">
	    <div class="breadcrumb_text">
	      <span >
	      	<a href="index.html" title="">
	      		首页
	      	</a>
	      </span>
	      
	      <i>&nbsp; / &nbsp;</i>
	      <span >
	      	<a href="goodsList.html" title="">
	      		设计师
	      	</a>
	      </span> 
	      <i>&nbsp; / &nbsp;</i>
	      ALL &nbsp; PRODUCTS
		</div>
    </div>
  <!--面包屑-->
	<div class="bg-hui-f7 container min-ht400 mb50">
	    <div class="desiger">
			
			<h2>关于我们</h2>
			<div class="desiger-text-content">
				<p>
				尚床网是中国领先的高端家居用品购物平台，坚持专业、优质与低价的原则，为中国高端家庭用户提供最佳购物选择。尚床网拥有资深的睡眠专家和时尚家居买手，在全球范围内精选优质、舒适的家居用品，并坚持自主经营与源头采购，以提供正品和低价保证。
			</p>
			</div>
			
		</div>
	</div>
 </div>
<footer>

</footer>
<script src="../common/app.js"></script>
</body>
</html>