<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-文章列表</title>
  <script src="../common/css.js"></script>
</head>
<body>
	<div class="wrapper-page container">
		<!--面包屑-->
		<div class="breadcrumb">
		    <div class="breadcrumb_text">
		      <span >
		      	<a href="index.html" title="">
		      		首页
		      	</a>
		      </span> 
		      <i>&nbsp; / &nbsp;</i>
		      
		      文章列表
		      	
			</div>
        </div>
      <!--面包屑-->
		<div class="row designer-item">
			<div class="col-md-6">
				<div class="designer-bg clearfix">
					<div class="article-img col-md-5">
						<img src="../assets/img/designImg1.jpg">
					</div>
					<div class="designer-text col-md-7">
						<h5><span>现代家具帝国B&B italia f</span></h5>
						<p>提起现代家具，不得不提意大利具<br/>
							有指标性的家具品牌b&b italia，<br/>
						在欧洲这个制造业多为家族企业的<br/>
						地方， 却迅速崛起了一家发展如
						</p>
						<div class="more"><a href="#">MORE >></a></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="designer-bg clearfix">
					<div class="article-img col-md-5">
						<img src="../assets/img/designImg1.jpg">
					</div>
					<div class="designer-text col-md-7">
						<h5><span>现代家具帝国B&B italia f</span></h5>
						<p>提起现代家具，不得不提意大利具<br/>
							有指标性的家具品牌b&b italia，<br/>
						在欧洲这个制造业多为家族企业的<br/>
						地方， 却迅速崛起了一家发展如
						</p>
						<div class="more"><a href="#">MORE >></a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row designer-item">
			<div class="col-md-6">
				<div class="designer-bg clearfix">
					<div class="article-img col-md-5">
						<img src="../assets/img/designImg1.jpg">
					</div>
					<div class="designer-text col-md-7">
						<h5><span>现代家具帝国B&B italia f</span></h5>
						<p>提起现代家具，不得不提意大利具<br/>
							有指标性的家具品牌b&b italia，<br/>
						在欧洲这个制造业多为家族企业的<br/>
						地方， 却迅速崛起了一家发展如
						</p>
						<div class="more"><a href="#">MORE >></a></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="designer-bg clearfix">
					<div class="article-img col-md-5">
						<img src="../assets/img/designImg1.jpg">
					</div>
					<div class="designer-text col-md-7">
						<h5><span>现代家具帝国B&B italia f</span></h5>
						<p>提起现代家具，不得不提意大利具<br/>
							有指标性的家具品牌b&b italia，<br/>
						在欧洲这个制造业多为家族企业的<br/>
						地方， 却迅速崛起了一家发展如
						</p>
						<div class="more"><a href="#">MORE >></a></div>
					</div>
				</div>
			</div>
		</div>

		<nav class="clearfix" aria-label="page navigation">
		  <ul class="pagination">
		    <li class="previous">
		      <a href="#" aria-label="previous">
		        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		      </a>
		    </li>
		    <li class="active"><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li class="next">
		      <a href="#" aria-label="next">
		        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
	
	<script src="../common/app.js"></script>
</body>
</html>