<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-品牌列表</title>
  <script src="../common/css.js"></script>
</head>
<body>
	
	<div class="wrapper-page container">
		<!--面包屑-->
		<div class="breadcrumb">
		    <div class="breadcrumb_text">
		      <span >
		      	<a href="index.html" title="">
		      		首页
		      	</a>
		      </span> 
		      <i>&nbsp; / &nbsp;</i>
		      
		      ALL &nbsp; PRODUCTS
		      	
			</div>
        </div>
      <!--面包屑-->
      <div class="row">
	      <div class="col-sm-4 col-md-3 sidebar">
			<div class="sidebar-title"><img src="../assets/img/title1.jpg"/></div>
	      	<ul class="brandListText">
	      		<li><a href="#">Acerbis</a></li>
	      		<li><a href="#">Agape</a></li>
	      		<li><a href="#">Alessi</a></li>
	      		<li><a href="#">Alias</a></li>
	      		<li><a href="#">Angelo Cappellini</a></li>
	      		<li><a href="#">Antonangeli</a></li>
	      		<li><a href="#">Antoniolupi</a></li>
	      		<li><a href="#">Arflex</a></li>
	      		<li><a href="#">Arketipo</a></li>
	      		<li><a href="#">Armani</a></li>
	      	</ul>
			
			
	      </div>
	      <div class="col-sm-8 col-md-9 main">
	      	<div class="gray-box">
	      		<button id="checkAllBrand" class="checkAllBrand">全部</button>
	      		<ul class="check-words clearfix">
	      			<li><a href="#" data-code="A">A</a></li>
	      			<li><a href="#" data-code="B">B</a></li>
	      			<li><a href="#" data-code="C">C</a></li>
	      			<li><a href="#" data-code="D">D</a></li>
	      			<li><a href="#" data-code="E">E</a></li>
	      			<li><a href="#" data-code="F">F</a></li>
	      			<li><a href="#" data-code="G">G</a></li>
	      			<li><a href="#" data-code="H">H</a></li>
	      			<li><a href="#" data-code="I">I</a></li>
	      			<li><a href="#" data-code="J">J</a></li>
	      			<li><a href="#" data-code="K">K</a></li>
	      			<li><a href="#" data-code="L">L</a></li>
	      			<li><a href="#" data-code="M">M</a></li>
	      			<li><a href="#" data-code="N">N</a></li>
	      			<li><a href="#" data-code="O">O</a></li>
	      			<li><a href="#" data-code="P">P</a></li>
	      			<li><a href="#" data-code="Q">Q</a></li>
	      			<li><a href="#" data-code="R">R</a></li>
	      			<li><a href="#" data-code="S">S</a></li>
	      			<li><a href="#" data-code="T">T</a></li>
	      			<li><a href="#" data-code="U">U</a></li>
	      			<li><a href="#" data-code="V">V</a></li>
	      			<li><a href="#" data-code="W">W</a></li>
	      			<li><a href="#" data-code="X">X</a></li>
	      			<li><a href="#" data-code="Y">Y</a></li>
	      			<li><a href="#" data-code="Z">Z</a></li>
	      		</ul>
	      	</div>
	      	<ul class="brandList clearfix row">
		     
		      <li  class="col-md-4">
		      	<a href="#"><img src="../assets/img/brand.jpg"></a>
		      </li>
		      <li  class="col-md-4">
		      	<a href="#"><img src="../assets/img/brand.jpg"></a>
		      </li>
		      <li  class="col-md-4">
		      	<a href="#"><img src="../assets/img/brand.jpg"></a>
		      </li>
		      <li  class="col-md-4">
		      	<a href="#"><img src="../assets/img/brand.jpg"></a>
		      </li>
		      <li  class="col-md-4">
		      	<a href="#"><img src="../assets/img/brand.jpg"></a>
		      </li>
		      <li  class="col-md-4">
		      	<a href="#"><img src="../assets/img/brand.jpg"></a>
		      </li>
		      <li  class="col-md-4">
		      	<a href="#"><img src="../assets/img/brand.jpg"></a>
		      </li>
		      <li  class="col-md-4">
		      	<a href="#"><img src="../assets/img/brand.jpg"></a>
		      </li>
		      <li  class="col-md-4">
		      	<a href="#"><img src="../assets/img/brand.jpg"></a>
		      </li>
		    </ul>
	      </div>

    	</div>
  </div>
	<script src="../common/app.js"></script>
</body>
</html>