<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-品牌详情</title>
  <script src="../common/css.js"></script>
</head>
<body>
<div class="wrapper-page container">
		<!--面包屑-->
		<div class="breadcrumb">
		    <div class="breadcrumb_text">
		      <span >
		      	<a href="index.html" title="">
		      		首页
		      	</a>
		      </span> 
		      <i>&nbsp; / &nbsp;</i>
		      
		      ALL &nbsp; PRODUCTS
		      	
			</div>
        </div>
      <!--面包屑-->
      <div class="row">
	      <div class="col-md-3 col-sm-3 col-xm-3 sidebar">
			<div class="brandBigImg">
				<a href="#"><img src="../assets/img/brand.jpg"></a>
			</div>
			<div class="brandText">
				<p>Atlantic Tiles存在的根基是在陶瓷领域的声望、质量承诺和创新精神。在技术、设计和生产中，我们一直在不断发展。</p>
				<p>在当今这个瞬息万变的环境中，我们更注重客户的满意度，我们致力于为客户提供一系列高质量的、符合最新趋势的产品。我们适应了消费者的最高需求，以及消费者的用途和适用空间。</p>
				<p>我们的重中之重在产品质量，我们对我们的产品和工艺进行严格的测试，将西班牙传统技术与尖端技术相结合，我们努力让客户去想象、创造最需要陶瓷产品的空间，从而满足他们的需求。</p>
			</div>
	      </div>
	      <div class=" col-md-9 col-sm-8 col-xs-8  main">
	      	<div class="top-option clearfix">
	      		<i class="glyphicon glyphicon-th"></i>
	      		<div class="center-num">
	      			<span>展示</span>
	      			<select class="form-control">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
					<span>/ 页</span>
	      		</div>
	      		<div class="goods-order">
	      			<span>排列方式</span>
	      			<select class="form-control">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
	      		</div>
	      	</div>
	      	
	      	<div class="designer buyer goods clearfix">
		      <a href="goodsDetail.html">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		           <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		           <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		        
		      </a>
		      
		    </div>
	      	<nav class="clearfix" aria-label="page navigation">
			  <ul class="pagination">
			    <li class="previous">
			      <a href="#" aria-label="previous">
			        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			      </a>
			    </li>
			    <li class="active"><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li class="next">
			      <a href="#" aria-label="next">
			        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			      </a>
			    </li>
			  </ul>
			</nav>
	      </div>
    	</div>
  </div>
	<script src="../common/app.js"></script>
</body>
</html>