<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-我的收藏</title>
  <script src="../common/css.js"></script>
</head>
<body>
	
	<div class="web-wrapper clearfix" id="jWrapper">
		<div class="main">
			<div class="index-top clearfix row">

            	<div class="col-md-5 col-sm-5">
					<h2 class="login-title">购票登录</h2>
					<ul class="login-wrap">
		            	<li>
		            		<input class="user" id="user" required placeholder="请输入员工号或邮箱">
		            	</li>
		                <li>
		                	<input class="password" id="password" type="password" required placeholder="请输入密码">
		                </li>
		                <li>
		                	<input class="reg" id="reg" required placeholder="请输入图片中的内容" >
		                	<img class="jImg" src="../../assets/img/temp_img.png">
		                </li>
	            	</ul>
					<div class="login-warp">
						<button class="btn-login" id="jLoginBtn" type="submit">登&nbsp;录</button>
					</div>
					<p class="login-text">
			            <a class="register">购票注册</a>
			            <a class="forgetpassword">忘记密码</a>
		           </p> 
	            </div>
				<div class="col-md-7 col-sm-7">
					<img class="wb100" src="../../assets/img/picture/index_ad_02.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="item-title help">帮助中心</div>
					<div class="item">
						<ul>
							<li><a href="">最新公告</a></li>
							<li><a href="">最新公告</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="item-title info">政策信息 <a href="#">&gt;&gt;更多</a></div>
					<div class="item">
						<ul>
							<li><a href="">最新公告</a> <span>2014-11-13</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="index-bottom row">
				<h6>关于购票服务问题：</h6>
				<p>如需客票改签、服务投诉、购买保险、行程单打印等业务请致电所属航空公司客服热线：</p>
				<p>中国国际航空:95583-1-8-2</p>
				<p>中国南方航空:40088-95539</p>
				<p>中国东方航空:服务热线40088-95530，电话拨通后输入大客户编码9090900</p>
				<p>海南航空:订单咨询及服务 95339-5（工作时间08:00-24:00）；机票改签、升舱服务 95339（24小时）</p>
				<p>厦门航空:95557-1-8-2</p>
				<p>深圳航空:95361-6</p>
				<p>山东航空:95369</p>
				<p>春秋航空:95524-1-8</p>
				<p>河北航空:0311-96699</p>
				<p>大新华航空:订单咨询及服务 95339-5（工作时间08:00-24:00）；机票改签、升舱服务 95339（24小时）</p>
				<p>吉祥航空：021-95520</p>
				<p>四川航空：95378-1-5-2</p>
				<p>昆明航空：0871-96598</p>
				<p>中联航空：400-102-6666</p>
				<p>长龙航空：0571-89999999</p>
				<p>华夏航空：400-600-6633</p>
				<p>江西航空：0791-96300</p>
				<p>首都航空：95375</p>

			</div>


		</div>
	</div>
	<footer>

	</footer>
	<script src="../common/app.js"></script>
</body>
</html>