<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-我的收藏</title>
  <script src="../common/css.js"></script>
</head>
<body>
	
	<div class="wrapper-page container">
		<!--面包屑-->
		<div class="breadcrumb">
		    <div class="breadcrumb_text">
		      <span >
		      	<a href="index.html" title="">
		      		首页
		      	</a>
		      </span> 
		      <i>&nbsp; / &nbsp;</i>
		      
		      ALL &nbsp; PRODUCTS
		      	
			</div>
        </div>
      <!--面包屑-->
      <div class="row">
	      <div class="col-md-3 col-sm-3 col-xm-3 sidebar">
			<div class="sidebar-title"><img src="../assets/img/userCenterTitle.jpg"/></div>
			<div class="user-center-left">
				<a href="#">个人资料</a>
				<a href="#">我的订单</a>
				<a href="#" class="active">我的收藏</a>
				<a href="#">我的评论</a>
				<a href="#">我的消息</a>
				<a href="#">我的优惠券</a>
				<a href="#">账号绑定</a>
				<a href="#">修改密码</a>
				<a href="#">收货地址</a>
			</div>
	      </div>
	      <div class=" col-md-9 col-sm-8 col-xs-8  main">
	      	
	      	<div class="searchText">
	      		<a href="#" id="seachAllPro">所有商品</a>
	      		<a href="#" id="">已失效</a>
	      		
			    <input type="text" class="form-control cllectionSearch" id="cllectionSearch" placeholder="请输入商品名">
			 
	      	</div>
	      	<div class="designer buyer goods clearfix">
		      <a href="goodsDetail.html">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		           <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		           <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		        
		      </a>
		      
		    </div>
	      	<nav class="clearfix" aria-label="page navigation">
			  <ul class="pagination">
			    <li class="previous">
			      <a href="#" aria-label="previous">
			        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			      </a>
			    </li>
			    <li class="active"><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li class="next">
			      <a href="#" aria-label="next">
			        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			      </a>
			    </li>
			  </ul>
			</nav>
	      </div>
    	</div>
  </div>
	<script src="../common/app.js"></script>
</body>
</html>