<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-首页</title>
  <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="../plugin/swiper/css/swiper.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/plugin.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/common.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/custorm.css" />
</head>
<body>
	<div class="container">
     <div id="top"></div>
     <div class="row">
       <!-- <ul class="nav">
         <li class="col-sm-3">
            <a href="#" title="">home</a>
         </li>
         <li class="col-sm-3">
            <a href="#" title="">about</a>
         </li>
         <li class="col-sm-3">
            <a href="#" title="">home</a>
         </li>
         <li class="col-sm-3">
            <a href="#" title="">home</a>
         </li>
       </ul> -->


       <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="#">logo</a>
           </div>
           <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                  <li>
                     <a href="#" title="">home</a>
                  </li>
                  <li>
                     <a href="#" title="">about</a>
                  </li>
                  <li>
                     <a href="#" title="">home</a>
                  </li>
                  <li>
                     <a href="#" title="">home</a>
                  </li>
              </ul>
           </div>
         </div>
       </nav>



     </div>
		<!--首页的大图的轮播-->
    <h2>首页的大图的轮播</h2>
		<div class="row">
			<div class="col-sm-9">
				<div class="swiper-container swiper1">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../assets/img/timg1.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg2.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg3.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg4.jpeg">
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
			<div class="col-sm-3">aaa</div>
		</div>
    <!-- 首页的大图的轮播 end -->
		<!--带预览小图的轮播图-->
    <h2>带预览小图的轮播图</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="swiper-container gallery-top">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../assets/img/timg1.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg2.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg3.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg4.jpeg">
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
					
					
				</div>
				<div class="swiper-container gallery-thumbs">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../assets/img/timg1.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg2.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg3.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg4.jpeg">
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
					
				</div>
			</div>
			<div class="col-md-6">bbb</div>
		</div>
    <!--带预览小图的轮播图 end-->
		<!--tab切换-->
    <h2>tab切换</h2>
    <div class="row">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active col-md-4">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
              商品介绍
            </a>
          </li>
          <li role="presentation" class="col-md-4">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
              商品规格
            </a>
          </li>
          <li role="presentation" class="col-md-4">
            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
              用户评价
            </a>
          </li>
      </ul>
      <div class="tab-content bord-hui padd10">
          <div role="tabpanel" class="tab-pane active" id="home">
            fffff1
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            fffff2
          </div>
          <div role="tabpanel" class="tab-pane" id="messages">
            fffff3
          </div>
          
      </div>
    </div>
    <!--tab切换 end-->
    <!--回到顶部 -->
    <h2>回到顶部</h2>
    <div class="row">
      <a class="back-to-top" href="#top">
       返回顶部
      </a>
    </div>
    <!--回到顶部 end-->
    <!--模态框 -->
    <h2>模态框</h2>
    <div class="row">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        新增
      </button>
    
    <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">新增</h4>
            </div>
            <div class="modal-body">
              新增内容
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary">确定</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--模态框 end -->
    <!--分页 -->
    <h2>分页</h2>
    <div class="row">
      <nav aria-label="Page navigation">
        <ul class="pagination pagination-lg">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!--分页 end -->
    <!--树状菜单 -->
    <h2>树状菜单</h2>
    <div class="row">
      <div class="menus">
        <div>
          <h4>类别 <span>-</span></h4>
          <ul>
            <li>全部商品</li>
            <li>
              <h5>床上用品</h5>
              <span>
                现货四件套
              </span>
              <span>
                羽绒系列
              </span>
            </li>
            <li>床上用品</li>
            <li>床上用品</li>
            <li>床上用品</li>
            <li>床上用品</li>
          </ul>
        </div>
        <div>
          <h4>材质 <span>-</span></h4>
          <ul>
            <li><input type="checkbox"> 亚麻</li>
            <li>
             <input type="checkbox"> 高线亚麻
            </li>
            
          </ul>
        </div>
        <div>
          <h4>产地 <span>-</span></h4>
          <ul>
            <li><input type="checkbox"> 巴西</li>
            <li>
             <input type="checkbox"> 中国
            </li>
            
          </ul>
        </div>
      </div>
        <ul class="pagination pagination-lg">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!--树状菜单 end -->
    <!--瀑布流 -->
    <h2>瀑布流</h2>
    <!-- <div id="main">
      
      <div class="box">
        <div class="pic">
          <img src="../assets/img/timg2.jpeg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/1.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/timg1.jpeg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/2.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/timg4.jpeg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/3.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/timg1.jpeg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/4.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/timg2.jpeg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/timg1.jpeg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/1.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/timg1.jpeg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/timg1.jpeg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/2.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/3.jpg" alt="">
        </div>
      </div>

    </div> -->
    <div class="water">
      <div class="box">
        
          <img src="../assets/img/p_01.jpg" alt="">
        
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/p_02.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/p_03.jpg" alt="">
        </div>
      </div>
      <div class="box">
        
          <img src="../assets/img/p_04.jpg" alt="">
        
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/p_05.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/p_06.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/p_07.jpg" alt="">
        </div>
      </div>
      <div class="box">
        
          <img src="../assets/img/timg4.jpeg" alt="">
        
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/timg1.jpeg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/p_01.jpg" alt="">
        </div>
      </div>
      <div class="box">
        
          <img src="../assets/img/p_05.jpg" alt="">
        
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/p_02.jpg" alt="">
        </div>
      </div>
      <div class="box">
        
          <img src="../assets/img/p_01.jpg" alt="">
        
      </div>
      <div class="box">
        
          <img src="../assets/img/timg1.jpeg" alt="">
        
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/p_05.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="pic">
          <img src="../assets/img/p_01.jpg" alt="">
        </div>
      </div>

    </div>
    <!--瀑布流end -->
	</div>
  <div class="footer">
    <div class="container-fluid bg-black">
      <div class="container clearfix footer-top">
        <div class="share pull-left">
          <img src="../assets/img/foot/share-icon1.png"/>
          <img src="../assets/img/foot/share-icon2.png"/>
          <img src="../assets/img/foot/share-icon3.png"/>
          <img src="../assets/img/foot/share-icon4.png"/>
          <img src="../assets/img/foot/share-icon5.png"/>
        </div>
        <div class="f-email pull-right">
          <span>SUBCRIBLE  NEWSLETTER</span>
          <input type="text" name="" placeholder="Enter your email address">
          <img src="../assets/img/foot/f-email.png" />
        </div>
      </div>
    </div>
    <div class="container-fluid bg-333">
      <div class="container">
        bbbb
      </div>
    </div>
  </div>
	<script src="../plugin/jquery-3.3.1.min.js"></script>
  	<script src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  	<script src="../plugin/swiper/js/swiper.min.js"></script>
  	<script>
    var swiper = new Swiper('.swiper1', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    // 带预览效果的轮播 start
     var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      loop:true,
      loopedSlides: 5, //looped slides should be the same
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
     
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      touchRatio: 0.2,
      loop: true,
      loopedSlides: 5, //looped slides should be the same
      slideToClickedSlide: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    galleryTop.controller.control = galleryThumbs;
    galleryThumbs.controller.control = galleryTop;
     // 带预览效果的轮播 end

     $(function(){
     	$('.tabs>.tabs-box>div').eq(0).show().siblings().hide()
     	$('.tabs>.tabs-button>div').click(function(){
     		var index = $('.tabs>.tabs-button>div').index(this)
     		$(this).addClass('tabs-active').siblings().removeClass('tabs-active')
     		$('.tabs>.tabs-box>div').eq(index).show().siblings().hide()
     	})
     })
     

     //瀑布波
     // window.onload = function(){
     //  waterfall('main', 'box')
     // }
     // function waterfall(parent, box){
     //  //取出所有box
     //  var oParent = document.getElementById(parent);
     //  var oBoxs = getByClass(oParent,box)
     //  console.log(oBoxs.length)
     //  //计算列数，页面宽/box的宽
     //  var oBoxW = oBoxs[0].offsetWidth;
     //  console.log('ow',oBoxW)
     //  var cols = Math.floor(document.documentElement.clientWidth/oBoxw)
     //  //设置main的宽
     //  var oParent.style.cssText = 'width:' + oBoxW*cols + 'px; margin:0 auto;'
     // }
     // var hArrr = []
     // for(var i=0; i<oBoxs.length; i++){
     //  if(i<cols){
     //    hArr.push(oBoxs[i].offsetHeight)
     //  } else {
     //    var minH = Math.min.apply(null, hArr)
     //    console.log(minH)
     //  }
     // }
     // function getByClass(parent, clsName) {
     //  var boxArr = new Array(),
     //      oElements = parent.getElementsByTagName('*');
     //  for(var i=0; i<oElements.length; i++){
     //    if(oElements[i].className == clsName){
     //      boxArr.push(oElements[i])
     //    }
     //  }
     //  return boxArr;
     // }
     // function getMinhIndex(arr,val){
     //  for(var i in arr){
     //    if(arr[i] == val){
          
     //    }
     //  }
     // }
  </script>
</body>
</html>