<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-首页</title>
  <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="../plugin/swiper/css/swiper.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/plugin.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/common.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/custorm.css" />
</head>
<body>
  <div class="container">
     <div id="top"></div>
     <div class="row">
       <!-- <ul class="nav">
         <li class="col-sm-3">
            <a href="#" title="">home</a>
         </li>
         <li class="col-sm-3">
            <a href="#" title="">about</a>
         </li>
         <li class="col-sm-3">
            <a href="#" title="">home</a>
         </li>
         <li class="col-sm-3">
            <a href="#" title="">home</a>
         </li>
       </ul> -->


       <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="#">logo</a>
           </div>
           <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                  <li>
                     <a href="#" title="">home</a>
                  </li>
                  <li>
                     <a href="#" title="">about</a>
                  </li>
                  <li>
                     <a href="#" title="">home</a>
                  </li>
                  <li>
                     <a href="#" title="">home</a>
                  </li>
              </ul>
           </div>
         </div>
       </nav>



     </div>
    <!--首页的大图的轮播-->
    <h2>首页的大图的轮播</h2>
    <div class="row">
      <div class="col-sm-9">
        <div class="swiper-container swiper1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../assets/img/timg1.jpeg">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/timg2.jpeg">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/timg3.jpeg">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/timg4.jpeg">
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
      <div class="col-sm-3">aaa</div>
    </div>
    <!-- 首页的大图的轮播 end -->
    <!--带预览小图的轮播图-->
    <h2>带预览小图的轮播图</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="swiper-container gallery-top">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../assets/img/timg1.jpeg">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/timg2.jpeg">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/timg3.jpeg">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/timg4.jpeg">
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          
          
        </div>
        <div class="swiper-container gallery-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../assets/img/timg1.jpeg">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/timg2.jpeg">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/timg3.jpeg">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/timg4.jpeg">
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          
        </div>
      </div>
      <div class="col-md-6">bbb</div>
    </div>
    <!--带预览小图的轮播图 end-->
    <!--tab切换-->
    <h2>tab切换</h2>
    <div class="row">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active col-md-4">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
              商品介绍
            </a>
          </li>
          <li role="presentation" class="col-md-4">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
              商品规格
            </a>
          </li>
          <li role="presentation" class="col-md-4">
            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
              用户评价
            </a>
          </li>
      </ul>
      <div class="tab-content bord-hui padd10">
          <div role="tabpanel" class="tab-pane active" id="home">
            fffff1
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            fffff2
          </div>
          <div role="tabpanel" class="tab-pane" id="messages">
            fffff3
          </div>
          
      </div>
    </div>
    <!--tab切换 end-->
    <!--回到顶部 -->
    <h2>回到顶部</h2>
    <div class="row">
      <a class="back-to-top" href="#top">
       返回顶部
      </a>
    </div>
    <!--回到顶部 end-->
    <!--模态框 -->
    <h2>模态框</h2>
    <div class="row">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        新增
      </button>
    
    <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">新增</h4>
            </div>
            <div class="modal-body">
              新增内容
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary">确定</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--模态框 end -->
    <!--分页 -->
    <h2>分页</h2>
    <div class="row">
      <nav aria-label="Page navigation">
        <ul class="pagination pagination-lg">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!--分页 end -->
    <!--树状菜单 -->
    <h2>树状菜单</h2>
    <div class="row">
      <div class="menus">
        <div>
          <h4>类别 <span>-</span></h4>
          <ul>
            <li>全部商品</li>
            <li>
              <h5>床上用品</h5>
              <span>
                现货四件套
              </span>
              <span>
                羽绒系列
              </span>
            </li>
            <li>床上用品</li>
            <li>床上用品</li>
            <li>床上用品</li>
            <li>床上用品</li>
          </ul>
        </div>
        <div>
          <h4>材质 <span>-</span></h4>
          <ul>
            <li><input type="checkbox"> 亚麻</li>
            <li>
             <input type="checkbox"> 高线亚麻
            </li>
            
          </ul>
        </div>
        <div>
          <h4>产地 <span>-</span></h4>
          <ul>
            <li><input type="checkbox"> 巴西</li>
            <li>
             <input type="checkbox"> 中国
            </li>
            
          </ul>
        </div>
      </div>
        <ul class="pagination pagination-lg">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!--树状菜单 end -->
    
  
  </div>
  <!--设计师-->
  <div class="container-fluid clearfix">
    <div class="container">
      <h3>
        <img src="../assets/img/foot/designers.png" alt="">
      </h3>
    </div>
    <div class="container overHide">
      <div class="designer">
        <a href="#">
          <dl>
            <dt>
              <p>RM Aarchitects设计创始人</p>
              <p>RICCARDO Minervini</p>
              <p>RM Architect...</p>
            </dt>
            <dd>
              <img src="../assets/img/foot/pp.jpg">
            </dd>
          </dl>
        </a>
        <a href="#">
          <dl>
            <dt>
              <p>RM Aarchitects设计创始人</p>
              <p>RICCARDO Minervini</p>
              <p>RM Architect...</p>
            </dt>
            <dd>
              <img src="../assets/img/foot/pp.jpg">
            </dd>
          </dl>
        </a>
        <a href="#">
          <dl>
            <dt>
              <p>RM Aarchitects设计创始人</p>
              <p>RICCARDO Minervini</p>
              <p>RM Architect...</p>
            </dt>
            <dd>
              <img src="../assets/img/foot/pp.jpg">
            </dd>
          </dl>
        </a>
        <a href="#">
          <dl>
            <dt>
              <p>RM Aarchitects设计创始人</p>
              <p>RICCARDO Minervini</p>
              <p>RM Architect...</p>
            </dt>
            <dd>
              <img src="../assets/img/foot/pp.jpg">
            </dd>
          </dl>
        </a>
        <a href="#">
          <dl>
            <dt>
              <p>RM Aarchitects设计创始人</p>
              <p>RICCARDO Minervini</p>
              <p>RM Architect...</p>
            </dt>
            <dd>
              <img src="../assets/img/foot/pp.jpg">
            </dd>
          </dl>
        </a>
        <a href="#">
          <dl>
            <dt>
              <p>RM Aarchitects设计创始人</p>
              <p>RICCARDO Minervini</p>
              <p>RM Architect...</p>
            </dt>
            <dd>
              <img src="../assets/img/foot/pp.jpg">
            </dd>
          </dl>
        </a>
        <a href="#">
          <dl>
            <dt>
              <p>RM Aarchitects设计创始人</p>
              <p>RICCARDO Minervini</p>
              <p>RM Architect...</p>
            </dt>
            <dd>
              <img src="../assets/img/foot/pp.jpg">
            </dd>
          </dl>
        </a>
        <a href="#">
          <dl>
            <dt>
              <p>RM Aarchitects设计创始人</p>
              <p>RICCARDO Minervini</p>
              <p>RM Architect...</p>
            </dt>
            <dd>
              <img src="../assets/img/foot/pp.jpg">
            </dd>
          </dl>
        </a>
        
      </div>
    </div>
  </div>
  <!--设计师 end-->
  <!--瀑布流开始 -->
  <div class="container-fluid bg-hui-f1">
    <div class="container waterfalls">
      <h3>
        <img src="../assets/img/foot/tit-water.png" alt="">
      </h3>
    </div>
    <!--瀑布流-->
    <div class="water" id="main">
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_01.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_02.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_03.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
         <div class="box">
          <img src="../assets/img/p_04.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_05.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_06.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_07.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_07.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_07.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_07.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_07.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_07.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_07.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_07.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>
      <div class="pin">
        <div class="box">
          <img src="../assets/img/p_07.jpg" alt="">
          <a href="#">毛线针织靠垫</a>
        </div>
      </div>

    </div>
    <div id="loadMore">
      <p>LOAD MORE ……</p>
      <span class="glyphicon glyphicon-menu-down animate1"></span>
      <span class="glyphicon glyphicon-menu-down animate2"></span>
    </div>
    <!--瀑布流end -->
  </div>
  <!--瀑布流end -->
  <div class="footer">
    <div class="container-fluid bg-black-18">
      <div class="container footer-top">
        <div class="row">
          <div class="share col-md-5">
            <a href="javascript:window.open('http://twitter.com/home?status='+encodeURIComponent(document.location.href)+' '+encodeURIComponent(document.title));void(0)">Twitter</a>
            <a class="fav_facebook" rel="nofollow" href="javascript:window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(document.location.href)+'&t='+encodeURIComponent(document.title));void(0)">Facebook</a>
            <a href="http://v.t.sina.com.cn/share/share.php?url=http://www.jb51.net&title='分享内容'" target="_blank">新浪微博</a> 
            <a href="http://connect.qq.com/widget/shareqq/index.html?title=qqhaoyou&url=http://www.jb51.net&desc=还不错哦&pics=&site=优酷" target="_blank">QQ好友</a>
            <img src="../assets/img/foot/share-icon1.png"/>
            <img src="../assets/img/foot/share-icon2.png"/>
            <img src="../assets/img/foot/share-icon3.png"/>
            <img src="../assets/img/foot/share-icon4.png"/>
            <img src="../assets/img/foot/share-icon5.png"/>
          </div>
          <div class="f-email col-md-7">
            <span>SUBCRIBLE  NEWSLETTER</span>
            <input type="text" name="" placeholder="Enter your email address">
            <img src="../assets/img/foot/f-email.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-black-21">
      <div class="container footer-middle">
        <div class="row">
          <div class="f-left col-md-4 col-sm-3">
            <img src="../assets/img/foot/f-logo.jpg" />
            <h4>
              微信公众号
            </h4>
            <img src="../assets/img/foot/f-ma.jpg" />
          </div>
          <div class="f-right col-md-8 col-sm-9">
            <dl>
              <dt>会员服务</dt>
              <dd>
                <a href="#">联系我们</a>
                <a href="#">退换服务</a>
                <a href="#">网站地图</a>
              </dd>
            </dl>
            <dl>
              <dt>其他</dt>
              <dd>
                <a href="#">品牌专区</a>
                <a href="#">礼品券</a>
                <a href="#">注册会员</a>
                <a href="#">优惠商品</a>
              </dd>
            </dl>
            <dl>
              <dt>会员中心</dt>
              <dd>
                <a href="#">会员中心</a>
                <a href="#">历史订单</a>
                <a href="#">注册会员</a>
                <a href="#">优惠商品</a>
              </dd>
            </dl>
            <dl class="help">
              <dt>帮助中心</dt>
              <dd>
               <span>Hotline：400 - 671 - 1878</span>
               <span>Open - Close： 09:00 - 21:00</span>
               <span>Mail： <a href="mailto:yimijia@163.com">yimijia@163.com</a></span>
              </dd>
              <dt class="pay">付款接受</dt>
              <dd class="row">
                <div  class="col-md-6"><img src="../assets/img/foot/paypal.jpg" /></div>
                <div  class="col-md-6"><img src="../assets/img/foot/american.jpg" /></div>
                
                
                
              </dd>
              <dd class="row">
                <div  class="col-md-6">
                <img src="../assets/img/foot/amazon.jpg" />
              </div>
              <div  class="col-md-6">
                <img src="../assets/img/foot/visa.jpg" />
              </div>
                
              </dd>
              
            </dl>
          </div>
        </div>
        <div class="row footer-bottom">
          <p class="col-md-7">津ICP备15003667号    快递查询 天津尚柏电子商务有限公司©2016</p>
          <div class="col-md-5">
            <a href="#">关于我们</a>
            <a href="#">配送信息</a>
            <a href="#">如何选购</a>
            <a href="#">购物须知</a>
          </div>
        </div>
      </div>
      https://www.jb51.net/html5/603468.html
    </div>
  </div>

  <script src="../plugin/jquery-3.3.1.min.js"></script>
    <script src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../plugin/swiper/js/swiper.min.js"></script>
    <script>
    var swiper = new Swiper('.swiper1', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    // 带预览效果的轮播 start
     var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      loop:true,
      loopedSlides: 5, //looped slides should be the same
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
     
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      touchRatio: 0.2,
      loop: true,
      loopedSlides: 5, //looped slides should be the same
      slideToClickedSlide: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    galleryTop.controller.control = galleryThumbs;
    galleryThumbs.controller.control = galleryTop;
     // 带预览效果的轮播 end

//***************设计师****************  
$(function(){
  $('.designer dl').mouseover(function(){
    $(this).children('dt').addClass('showEdate').stop(true)
  })
  $('.designer dl').mouseout(function(){
   $(this).children('dt').removeClass('showEdate')
    
  })
})

//***************瀑布流****************
window.onload=window.onresize = function(){
    waterfall('main','pin');
    var dataInt={'data':[{'src':'1.jpg'},{'src':'2.jpg'},{'src':'3.jpg'},{'src':'4.jpg'}]};
    maxH(dataInt)
    $('#loadMore').click(function(){
      maxH(dataInt)
    })
}
/*
    parend 父级id
    pin 元素id
*/
function waterfall(parent,pin){
    var oParent=document.getElementById(parent);// 父级对象
    var aPin=getClassObj(oParent,pin);// 获取存储块框pin的数组aPin
    var iPinW=aPin[0].offsetWidth;// 一个块框pin的宽
    var num=Math.floor(document.documentElement.clientWidth/iPinW);//每行中能容纳的pin个数【窗口宽度除以一个块框宽度】
    // oParent.style.cssText='width:'+iPinW*num+'px;ma rgin:0 auto;';//设置父级居中样式：定宽+自动水平外边距

    var pinHArr=[];//用于存储 每列中的所有块框相加的高度。
    for(var i=0;i<aPin.length;i++){//遍历数组aPin的每个块框元素
        var pinH=aPin[i].offsetHeight;
        if(i<num){
            pinHArr[i]=pinH; //第一行中的num个块框pin 先添加进数组pinHArr
        }else{
            var minH=Math.min.apply(null,pinHArr);//数组pinHArr中的最小值minH
            var minHIndex=getminHIndex(pinHArr,minH);
            aPin[i].style.position='absolute';//设置绝对位移
            aPin[i].style.top=minH+'px';
            aPin[i].style.left=aPin[minHIndex].offsetLeft+'px';
            //数组 最小高元素的高 + 添加上的aPin[i]块框高
            pinHArr[minHIndex]+=aPin[i].offsetHeight;//更新添加了块框后的列高
        }
    }
}

/****
    *通过父级和子元素的class类 获取该同类子元素的数组
    */
function getClassObj(parent,className){
    var obj=parent.getElementsByTagName('*');//获取 父级的所有子集
    var pinS=[];//创建一个数组 用于收集子元素
    for (var i=0;i<obj.length;i++) {//遍历子元素、判断类别、压入数组
        if (obj[i].className==className){
            pinS.push(obj[i]);
        }
    };
    return pinS;
}
/****
    *获取 pin高度 最小值的索引index
    */
function getminHIndex(arr,minH){
    for(var i in arr){
        if(arr[i]==minH){
            return i;
        }
    }
}


function checkscrollside(){
    var oParent=document.getElementById('main');
    var aPin=getClassObj(oParent,'pin');
    var lastPinH=aPin[aPin.length-1].offsetTop+Math.floor(aPin[aPin.length-1].offsetHeight/2);//创建【触发添加块框函数waterfall()】的高度：最后一个块框的距离网页顶部+自身高的一半(实现未滚到底就开始加载)
    var scrollTop=document.documentElement.scrollTop||document.body.scrollTop;//注意解决兼容性
    var documentH=document.documentElement.clientHeight;//页面高度
    return (lastPinH<scrollTop+documentH)?true:false;//到达指定高度后 返回true，触发waterfall()函数
}
function maxH(dataInt){
  var imgH = []
    // if(checkscrollside()){
        var oParent = document.getElementById('main');// 父级对象
        for(var i=0;i<dataInt.data.length;i++){
            var oPin=document.createElement('div'); //添加 元素节点
            oPin.className='pin';                   //添加 类名 name属性
            oParent.appendChild(oPin);              //添加 子节点
            var oBox=document.createElement('div');
            oBox.className='box';
            oPin.appendChild(oBox);
            var oImg=document.createElement('img');
            oImg.src='../assets/img/'+dataInt.data[i].src;
            oBox.appendChild(oImg);
            console.log(oImg.height)
            imgH.push(oImg.height)
        }
        waterfall('main','pin');
        var maxH=Math.max.apply(null,imgH)
        
        var mainHeight = $('#main').height()
        console.log('', maxH,mainHeight, mainHeight+maxH)
        $('#main').css('height',mainHeight+maxH+'px')
    // };
}
//**********瀑布流end ***************
  </script>
</body>
</html>