<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-首页</title>
  <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="../plugin/swiper/css/swiper.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/plugin.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/common.css" />
</head>
<body>
	<div class="container">
		<!--首页的大图的轮播-->
    <h2>首页的大图的轮播</h2>
		<div class="row">
			<div class="col-sm-9">
				<div class="swiper-container swiper1">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../assets/img/timg1.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg2.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg3.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg4.jpeg">
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
			<div class="col-sm-3">aaa</div>
		</div>
    <!-- 首页的大图的轮播 end -->
		<!--带预览小图的轮播图-->
    <h2>带预览小图的轮播图</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="swiper-container gallery-top">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../assets/img/timg1.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg2.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg3.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg4.jpeg">
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
					
					
				</div>
				<div class="swiper-container gallery-thumbs">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../assets/img/timg1.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg2.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg3.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg4.jpeg">
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
					
				</div>
			</div>
			<div class="col-md-6">bbb</div>
		</div>
    <!--带预览小图的轮播图 end-->
		<!--tab切换-->
    <h2>tab切换</h2>
    <div class="row">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active col-md-4">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
              商品介绍
            </a>
          </li>
          <li role="presentation" class="col-md-4">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
              商品规格
            </a>
          </li>
          <li role="presentation" class="col-md-4">
            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
              用户评价
            </a>
          </li>
      </ul>
      <div class="tab-content bord-hui padd10">
          <div role="tabpanel" class="tab-pane active" id="home">
            fffff1
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            fffff2
          </div>
          <div role="tabpanel" class="tab-pane" id="messages">
            fffff3
          </div>
          
      </div>
    </div>
    <!--tab切换 end-->

	</div>
	<script src="../plugin/jquery-3.3.1.min.js"></script>
  	<script src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  	<script src="../plugin/swiper/js/swiper.min.js"></script>
  	<script>
    var swiper = new Swiper('.swiper1', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    // 带预览效果的轮播 start
     var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      loop:true,
      loopedSlides: 5, //looped slides should be the same
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
     
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      touchRatio: 0.2,
      loop: true,
      loopedSlides: 5, //looped slides should be the same
      slideToClickedSlide: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    galleryTop.controller.control = galleryThumbs;
    galleryThumbs.controller.control = galleryTop;
     // 带预览效果的轮播 end

     $(function(){
     	$('.tabs>.tabs-box>div').eq(0).show().siblings().hide()
     	$('.tabs>.tabs-button>div').click(function(){
     		var index = $('.tabs>.tabs-button>div').index(this)
     		$(this).addClass('tabs-active').siblings().removeClass('tabs-active')
     		$('.tabs>.tabs-box>div').eq(index).show().siblings().hide()
     	})
     })
     
  </script>
</body>
</html>