<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-设计师列表</title>
  <script src="../common/css.js"></script>
</head>
<body>
	<div class="wrapper-page container">
		<!--面包屑-->
		<div class="breadcrumb">
		    <div class="breadcrumb_text">
		      <span >
		      	<a href="index.html" title="">
		      		首页
		      	</a>
		      </span> 
		      <i>&nbsp; / &nbsp;</i>
		      
		      设计师
		      	
			</div>
        </div>
      <!--面包屑-->
		<div class="row designer-item">
			<div class="col-md-6">
				<div class="designer-bg clearfix">
					<div class="designer-user col-md-5">
						<img src="../assets/img/designer.jpg">
					</div>
					<div class="designer-text col-md-7">
						<h5><span>深泽直人</span>Naoto Fukasawa</h5>
						<p>日本著名产品设计师，家用电器和日用杂<br/>物设计品牌"±0"的创始人。<br/>
						他的设计主张是：用最少的元素（上下公<br/>
						差为±0）来展示产品的全部功能。
						</p>
						<div class="more"><a href="#">MORE >></a></div>
					</div>
				</div>
			</div>
			<div class="col-md-3 designer-img">
				<img src="../assets/img/designImg1.jpg">
			</div>
			<div class="col-md-3 designer-img">
				<img src="../assets/img/designImg2.jpg">
			</div>
		</div>
		<div class="row designer-item">
			<div class="col-md-6">
				<div class="designer-bg clearfix">
					<div class="designer-user col-md-5">
						<img src="../assets/img/designer.jpg">
					</div>
					<div class="designer-text col-md-7">
						<h5><span>深泽直人</span>Naoto Fukasawa</h5>
						<p>日本著名产品设计师，家用电器和日用杂<br/>物设计品牌"±0"的创始人。<br/>
						他的设计主张是：用最少的元素（上下公<br/>
						差为±0）来展示产品的全部功能。
						</p>
						<div class="more"><a href="#">MORE >></a></div>
					</div>
				</div>
			</div>
			<div class="col-md-3 designer-img">
				<img src="../assets/img/designImg1.jpg">
			</div>
			<div class="col-md-3 designer-img">
				<img src="../assets/img/designImg2.jpg">
			</div>
		</div>
	</div>
	
	<script src="../common/app.js"></script>
</body>
</html>