<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站</title>
  <script src="../common/css.js"></script>
</head>
<body>
<div class="wrapper-page container">
	<!--面包屑-->
	<div class="breadcrumb">
	    <div class="breadcrumb_text">
	      <span >
	      	<a href="index.html" title="">
	      		首页
	      	</a>
	      </span>
	      
	      <i>&nbsp; / &nbsp;</i>
	      <span >
	      	<a href="goodsList.html" title="">
	      		设计师
	      	</a>
	      </span> 
	      <i>&nbsp; / &nbsp;</i>
	      ALL &nbsp; PRODUCTS
		</div>
    </div>
  <!--面包屑-->
	<div class="bg-hui-f7 container min-ht400 mb50">
	    <div class="desiger">
			
			<h2>购物须知</h2>
			<div class="desiger-text-content">
				
				<h3>为什么要选择尚床网购买产品？</h3>
<p>我们有专业的国际物流经验和实力，并且整合欧美高端家具供应链，提供优质的售前售中售后服务，正规进口渠道，到手价格比市场上进口家具便宜50-70%，让您全程购物无忧，有的热卖款甚至还有现货备货，让您足不出户就能以方便快捷的方式买到心仪的产品，为您节省宝贵的时间和精力。</p>

<h3>如何购买？</h3>
<p>通过网站下单后将会有客服人员第一时间联系您和您确定的产品细节和价格，一切无误我们会在3个工作日之内为您下单。订单一旦确认，如客户自身原因取消订单，货款无法退换，敬请谅解。</p>

<h3>价格是如何计算的？</h3>
<p>网站的价格都是包送货包安装的价格，我们免去繁琐的计算公式，按照一口报价的形式，其中包括了我们的服务费，关税，海运费以及国内的物流费用。</p>

<h3>订货周期大概多久？</h3>
<p>床品类我们采取空运方式运输，备货周期2周，空运1周，报关一周到手，总共在4周左右。
家具类的高端品牌订货周期比较长，因为对工艺的要求很多都是纯手工制造，通常需要8-12周备货，加上海运时间6-8周，报关和国内物流1-2周，全程需要大概15-22周。具体交期下单后请和我们的客服联络，我们提供一对一的高端客户服务。</p>

<h3>如何送货安装?</h3>
<p>目前国内部分运输尚床网和德邦物流合作，全程提供优质报价服务，如您购买的床垫扶手椅沙发则无需安装，只需收到货进行仔细查验确保货品完好无损并签收，柜体床需要组装的家具，我们将派专业安装人员为您上门安装，地板类的产品请您自行算好面积，目前需自行安装，北京和天津提供有偿安装服务。</p>

<h3>货物收到后有破损怎么办？</h3>
<p>产品到达仓库后，我们会认真按照流程进行开箱检查并且重新包好发送给您。国外家具产品通常包装都非常细致、牢固，但仍然会有少量的产品可能在运输过程中发生破损；我们将为您的货物购买保险，发生破损的情况下请第一时间联络您的客户专员，我们会协助进行保险索赔程序。</p>

<h3>如何退换货和质保?</h3>
<p>床品类的贴身物品如果没有质量问题，不支持退换货。
家具类的产品如果没有严重质量问题导致无法使用，也不予退换货。
对于我们代购的品牌，如果没有质量问题，我们会尽可能回答您的咨询和并给予良好的建议，但不提供保修。对于我们代理的品牌，我们将提供1年的质保服务。</p>

<h3>尚床网没有列出的品牌和样式我可以代购吗?</h3>
<p>完全可以。您如果有心仪的品牌，可以电话、微信或邮件联系我们，我们将竭尽所能为您服务。
			</p>
			</div>
			
		</div>
	</div>
 </div>
<footer>

</footer>
<script src="../common/app.js"></script>
</body>
</html>