<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-商品详情页</title>
  <script src="../common/css.js"></script>
  <link rel="stylesheet" type="text/css" href="../plugin/swiper/css/swiper.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/custorm.css" />
</head>
<body>
	<div class="container-fluid">
		<!--商品轮播图-->
		<div class="row">
		  <div class="col-md-6">
		    <div class="swiper-container gallery-top">
		      <div class="swiper-wrapper">
		        <div class="swiper-slide">
		          <img src="../assets/img/dd-2.jpg">
		        </div>
		        <div class="swiper-slide">
		          <img src="../assets/img/dd-3.jpg">
		        </div>
		        <div class="swiper-slide">
		          <img src="../assets/img/dd-1.jpg">
		        </div>
		        <div class="swiper-slide">
		          <img src="../assets/img/dd-4.jpg">
		        </div>
		      </div>
		      <!-- Add Pagination -->
		      <div class="swiper-pagination"></div>
		      <!-- Add Arrows -->
		      <div class="swiper-button-next arrow-right"></div>
		      <div class="swiper-button-prev arrow-left"></div>
		      
		      
		    </div>
		    <div class="swiper-container gallery-thumbs">
		      <div class="swiper-wrapper">
		        <div class="swiper-slide">
		          <img src="../assets/img/dd-01.jpg">
		        </div>
		        <div class="swiper-slide">
		          <img src="../assets/img/dd-02.jpg">
		        </div>
		        <div class="swiper-slide">
		          <img src="../assets/img/dd-03.jpg">
		        </div>
		        <div class="swiper-slide">
		          <img src="../assets/img/dd-04.jpg">
		        </div>
		      </div>
		      <!-- Add Pagination -->
		      <div class="swiper-pagination"></div>
		      <!-- Add Arrows -->
		      <!-- <div class="swiper-button-next"></div>
		      <div class="swiper-button-prev"></div> -->
		      
		    </div>
		  </div>
		  <div class="col-md-6">bbb</div>
		</div>
	</div>
	<script src="../plugin/swiper/js/swiper.min.js"></script>
	<script src="../common/app.js"></script>
	<script>
		// 带预览效果的轮播 start
     var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      loop:true,
      loopedSlides: 5, //looped slides should be the same
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
     
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      touchRatio: 0.2,
      loop: true,
      loopedSlides: 5, //looped slides should be the same
      slideToClickedSlide: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    galleryTop.controller.control = galleryThumbs;
    galleryThumbs.controller.control = galleryTop;
     // 带预览效果的轮播 end
	</script>
</body>
</html>