<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-商品列表</title>
  <script src="../common/css.js"></script>

</head>
<body>
	<div class="wrapper-page container">
		<!--面包屑-->
		<div class="breadcrumb">
		    <div class="breadcrumb_text">
		      <span >
		      	<a href="index.html" title="">
		      		首页
		      	</a>
		      </span> 
		      <i>&nbsp; / &nbsp;</i>
		      
		      ALL &nbsp; PRODUCTS
		      	
			</div>
        </div>
      <!--面包屑-->
      <div class="row">
	      <div class="col-sm-4 col-md-3 sidebar">
			<div class="sidebar-title"><img src="../assets/img/title1.jpg"/></div>
	      	<a class="side-one" data-toggle="collapse" href="#bedding">
			  床上用品
			</a>
			<ul class="side-sub collapse" id="bedding">
			  <li  class="active">
			    <a href="javascript:void(0)">现货四件套</a>
			  </li>
			  <li>
			    <a href="javascript:void(0)">羽绒系列</a>
			  </li>
			  <li>
			    <a href="javascript:void(0)">四件套</a>
			  </li>
			  <li>
			    <a href="javascript:void(0)">酒店用品</a>
			  </li>
			  <li>
			    <a href="javascript:void(0)">床单</a>
			  </li>
			  <li>
			    <a href="javascript:void(0)">毛毯</a>
			  </li>
			  <li>
			    <a href="javascript:void(0)">装饰枕套</a>
			  </li>
			</ul>
			<a class="side-one" data-toggle="collapse" href="#bedroom">
			 卧室家具
			</a>
			<ul class="side-sub collapse" id="bedroom">
			  <li class="active">
			    <a href="javascript:void(0)">现货四件套</a>
			  </li>
			</ul>
			<a class="side-one" data-toggle="collapse" href="#saloon">
			 客厅家具
			</a>
			<ul class="side-sub collapse" id="saloon">
			  <li>
			    <a href="javascript:void(0)">现货四件套</a>
			  </li>
			</ul>
			<a class="side-one" data-toggle="collapse" href="#children">
			 儿童家具
			</a>
			<ul class="side-sub collapse" id="children">
			  <li>
			    <a href="javascript:void(0)">现货四件套</a>
			  </li>
			</ul>
			<a class="side-one" data-toggle="collapse" href="#buildMaterial">
			 建筑材料
			</a>
			<ul class="side-sub collapse" id="buildMaterial">
			  <li>
			    <a href="javascript:void(0)">现货四件套</a>
			  </li>
			</ul>
			<a class="side-one" data-toggle="collapse" href="#household">
			 进口家电
			</a>
			<ul class="side-sub collapse" id="household">
			  <li>
			    <a href="javascript:void(0)">现货四件套</a>
			  </li>
			</ul>
			
			<div class="sidebar-title mt20"><img src="../assets/img/title2.jpg"/></div>
			<div class="sidebar-box">
				<div class="sidebar-subtitle">选择材质</div>
				<div class="sidebar-content">
					<label>
						<input type="checkbox" name="">
						<span>亚麻</span>
					</label>
					<label>
						<input type="checkbox" name="">
						<span>埃及棉</span>
					</label>
				</div>
			</div>
			<div class="sidebar-title mt20"><img src="../assets/img/title3.jpg"/></div>
			<div class="sidebar-box">
				<div class="sidebar-subtitle">选择材质</div>
				<div class="sidebar-content ">
					<label>
						<input type="checkbox" name="">
						<span>亚麻</span>
					</label>
					<label>
						<input type="checkbox" name="">
						<span>埃及棉</span>
					</label>
				</div>
			</div>
	      </div>
	      <div class="col-sm-8 col-md-9 main">
	      	<div class="top-option clearfix">
	      		<i class="glyphicon glyphicon-th"></i>
	      		<div class="center-num">
	      			<span>展示</span>
	      			<select class="form-control">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
					<span>/ 页</span>
	      		</div>
	      		<div class="goods-order">
	      			<span>排列方式</span>
	      			<select class="form-control">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
	      		</div>
	      	</div>
	      	
	      	<div class="designer buyer goods">
		      <a href="goodsDetail.html">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		           <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		           <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		      </a>
		      <a href="#">
		        <dl>
		          <dt>
		            <p class="ico-wrap">
		            	<span class="glyphicon glyphicon-heart-empty"></span>
		            	<span class="glyphicon glyphicon-eye-open"></span>
		            </p>
		          </dt>
		          <dd>
		            <img src="../assets/img/picture/img04.jpg">
		          </dd>
		          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
		        </dl>
		        
		      </a>
		      
		    </div>
	      	<nav class="clearfix" aria-label="page navigation">
			  <ul class="pagination">
			    <li class="previous">
			      <a href="#" aria-label="previous">
			        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			      </a>
			    </li>
			    <li class="active"><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li class="next">
			      <a href="#" aria-label="next">
			        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			      </a>
			    </li>
			  </ul>
			</nav>
	      </div>
    	</div>
  </div>
	</div>
	
	<script src="../common/app.js"></script>
</body>
</html>