<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-首页</title>
  <script src="../common/css.js"></script>
   <link rel="stylesheet" type="text/css" href="../plugin/swiper/css/swiper.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/custorm.css" />
</head>
<body>
	<header class="active">
		<div class="nav-top-wrap">
			<div class="nav-top clearfix">
				<div class="pull-left">
					<span class="tip">Call us for free</span>
					<span class="tel">400-671-1871</span>
					<span class="email">yimijia@163.com</span>
				</div>
				<div class="pull-right nav-top-right">
					<span class="login">登录</span> |
					<span class="myOrder">我的订单</span>
					<i class="myCollect">我的收藏</i>
				</div>
			</div>
		</div>
		
		<div class="nav-wrap">
			<a href="#" class="logo">
				<img src="../assets/img/logo.png">
			</a>
			<nav>
				<a href="#">首页</a>
				<a href="#">商品</a>
				<a href="#">品牌</a>
				<a href="#">设计师</a>
				<p>
					<a href="#">如何选购</a>
					<a href="#">最近文章</a>
				</p>
				<div class="top-search-group">
					<input  style="display: none" />
					<button id="top-search-btn" class="top-search-btn glyphicon glyphicon-search"></button>
				</div>
			</nav>
		</div>
		
	</header>

		<div class="sowingMap">
				<div class="swiper-container swiper1">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../assets/img/timg1.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg2.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg3.jpeg">
						</div>
						<div class="swiper-slide">
							<img src="../assets/img/timg4.jpeg">
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
	<!--设计师-->
	<div class="container-fluid">
	  <div class="container">
	      <img src="../assets/img/foot/designers.png" alt="" style="margin-left:-100px;">
	  </div>
	  <div class="container overHide">
	    <div class="designer">
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      
	    </div>
	  </div>
	</div>
	<!--设计师 end-->
	<!--瀑布流开始 -->
	<div class="container-fluid bg-hui-f1">
	  <div class="container waterfalls">
	    <h3>
	      <img src="../assets/img/foot/tit-water.png" alt="">
	    </h3>
	  </div>
	  <!--瀑布流-->
	  <div class="water container" id="main">
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_01.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_02.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_03.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	       <div class="box">
	        <img src="../assets/img/p_04.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_05.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_06.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>

	  </div>
	  <div id="loadMore">
	    <p>LOAD MORE ……</p>
	    <span class="glyphicon glyphicon-menu-down animate1"></span>
	    <span class="glyphicon glyphicon-menu-down animate2"></span>
	  </div>
	  <!--瀑布流end -->
	</div>
	<!--瀑布流end -->
	<footer>
		<div class="footer">
		  <div class="container-fluid bg-black-18">
		    <div class="container footer-top">
		      <div class="row">
		        <div class="share col-md-5">
		          <a href="javascript:window.open('http://twitter.com/home?status='+encodeURIComponent(document.location.href)+' '+encodeURIComponent(document.title));void(0)">Twitter</a>
		          <a class="fav_facebook" rel="nofollow" href="javascript:window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(document.location.href)+'&t='+encodeURIComponent(document.title));void(0)">Facebook</a>
		          <a href="http://v.t.sina.com.cn/share/share.php?url=http://www.jb51.net&title='分享内容'" target="_blank">新浪微博</a> 
		          <a href="http://connect.qq.com/widget/shareqq/index.html?title=qqhaoyou&url=http://www.jb51.net&desc=还不错哦&pics=&site=优酷" target="_blank">QQ好友</a>
		          <img src="../assets/img/foot/share-icon1.png"/>
		          <img src="../assets/img/foot/share-icon2.png"/>
		          <img src="../assets/img/foot/share-icon3.png"/>
		          <img src="../assets/img/foot/share-icon4.png"/>
		          <img src="../assets/img/foot/share-icon5.png"/>
		        </div>
		        <div class="f-email col-md-7">
		          <span>SUBCRIBLE  NEWSLETTER</span>
		          <input type="text" name="" placeholder="Enter your email address">
		          <img src="../assets/img/foot/f-email.png" />
		        </div>
		      </div>
		    </div>
		  </div>
		  <div class="container-fluid bg-black-21">
		    <div class="container footer-middle">
		      <div class="row">
		        <div class="f-left col-md-4 col-sm-3">
		          <img src="../assets/img/foot/f-logo.jpg" />
		          <h4>
		            微信公众号
		          </h4>
		          <img src="../assets/img/foot/f-ma.jpg" />
		        </div>
		        <div class="f-right col-md-8 col-sm-9">
		          <dl>
		            <dt>会员服务</dt>
		            <dd>
		              <a href="#">联系我们</a>
		              <a href="#">退换服务</a>
		              <a href="#">网站地图</a>
		            </dd>
		          </dl>
		          <dl>
		            <dt>其他</dt>
		            <dd>
		              <a href="#">品牌专区</a>
		              <a href="#">礼品券</a>
		              <a href="#">注册会员</a>
		              <a href="#">优惠商品</a>
		            </dd>
		          </dl>
		          <dl>
		            <dt>会员中心</dt>
		            <dd>
		              <a href="#">会员中心</a>
		              <a href="#">历史订单</a>
		              <a href="#">注册会员</a>
		              <a href="#">优惠商品</a>
		            </dd>
		          </dl>
		          <dl class="help">
		            <dt>帮助中心</dt>
		            <dd>
		             <span>Hotline：400 - 671 - 1878</span>
		             <span>Open - Close： 09:00 - 21:00</span>
		             <span>Mail： <a href="mailto:yimijia@163.com">yimijia@163.com</a></span>
		            </dd>
		            <dt class="pay">付款接受</dt>
		            <dd class="row">
		              <div  class="col-md-6"><img src="../assets/img/foot/paypal.jpg" /></div>
		              <div  class="col-md-6"><img src="../assets/img/foot/american.jpg" /></div>
		              
		              
		              
		            </dd>
		            <dd class="row">
		              <div  class="col-md-6">
		              <img src="../assets/img/foot/amazon.jpg" />
		            </div>
		            <div  class="col-md-6">
		              <img src="../assets/img/foot/visa.jpg" />
		            </div>
		              
		            </dd>
		            
		          </dl>
		        </div>
		      </div>
		      <div class="row footer-bottom">
		        <p class="col-md-7">津ICP备15003667号    快递查询 天津尚柏电子商务有限公司©2016</p>
		        <div class="col-md-5">
		          <a href="#">关于我们</a>
		          <a href="#">配送信息</a>
		          <a href="#">如何选购</a>
		          <a href="#">购物须知</a>
		        </div>
		      </div>
		    </div>
		    https://www.jb51.net/html5/603468.html
		  </div>
		</div>
	</footer>
	<script src="../common/app.js"></script>
</body>
</html>