<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-首页</title>
  <script src="../common/css.js"></script>
   <link rel="stylesheet" type="text/css" href="../plugin/swiper/css/swiper.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/custorm.css" />
</head>
<body>
	<div class="wrapper">
		<div class="sowingMap">
		<div class="swiper-container swiper1">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="../assets/img/picture/sowingmap1.jpg">
				</div>
				<div class="swiper-slide">
					<img src="../assets/img/picture/sowingmap2.jpg">
				</div>
				<div class="swiper-slide">
					<img src="../assets/img/picture/sowingmap1.jpg">
				</div>
				<div class="swiper-slide">
					<img src="../assets/img/picture/sowingmap2.jpg">
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
			<!-- Add Arrows -->
			<!-- <div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div> -->
		</div>
	</div>
	<div class="container-fluid">
		<article class="row litteBanner">

			
			<div class="col-md-6 col-sm-6 col-xs-6"><img src="../assets/img/picture/img01.jpg" width="100%"></div>
			<ul class="col-md-6 col-sm-6 col-xs-6" style="list-style: none;padding: 0;">
				<li class="col-md-6 col-sm-6 col-xs-6"><img src="../assets/img/picture/img02.jpg" width="100%"></li>
				<li class=" col-md-6 col-sm-6 col-xs-6"><img src="../assets/img/picture/img03.jpg" width="100%"></li>
				<li class="col-md-12 col-sm-12 col-xs-12"><img src="../assets/img/picture/img06.jpg" width="100%"></li>
			</ul>
			
		</article>
		<div class="container overHide mb40">
		    <span><img src="../assets/img/index_title.jpg" alt="" ></span>
		     <ul class="index-title-ul">
		     	<li><a href="#">床品</a></li>
		     	<li><a href="#">沙发</a></li>
		     	<li><a href="#">床具</a></li>
		     	<li><a href="#">椅子</a></li>
		     	<li class="more"><a href="#">MORE >></a></li>
		     </ul>
		 </div>
		 <div class="container overHide">
	    <div class="designer buyer">
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	           <img src="../assets/img/picture/img04.jpg">
	          </dd>
	          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	            <img src="../assets/img/picture/img04.jpg">
	          </dd>
	          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	            <img src="../assets/img/picture/img04.jpg">
	          </dd>
	          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	            <img src="../assets/img/picture/img04.jpg">
	          </dd>
	          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	           <img src="../assets/img/picture/img04.jpg">
	          </dd>
	          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	            <img src="../assets/img/picture/img04.jpg">
	          </dd>
	          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	            <img src="../assets/img/picture/img04.jpg">
	          </dd>
	          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	            <img src="../assets/img/picture/img04.jpg">
	          </dd>
	          <div class="buyer-text"><span>BAILEY SAILEN CHAI</span></div>
	        </dl>
	        
	      </a>
	      
	    </div>
	  </div>
	  </div>
</div>
	<!--设计师-->
	<div class="container-fluid">
	  <div class="container overHide  mb40">
	     <span> <img src="../assets/img/foot/designers.png" alt="" ></span>
	     <span class="more"><a href="#">MORE >></a></span>
	    
	  </div>
	  <div class="container overHide">
	    <div class="designer">
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      
	    </div>
	  </div>
	</div>
	<!--设计师 end-->
	<!--瀑布流开始 -->
	<div class="container-fluid bg-hui-f1">
	  <div class="container waterfalls">
	    <h3>
	      <img src="../assets/img/foot/tit-water.png" alt="">
	    </h3>
	  </div>
	  <!--瀑布流-->
	  <div class="water container" id="main">
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_01.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_02.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_03.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	       <div class="box">
	        <img src="../assets/img/p_04.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_05.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_06.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>

	  </div>
	  <div id="loadMore">
	    <p>LOAD MORE ……</p>
	    <span class="glyphicon glyphicon-menu-down animate1"></span>
	    <span class="glyphicon glyphicon-menu-down animate2"></span>
	  </div>
	  <!--瀑布流end -->
	</div>
	<!--瀑布流end -->
	<script src="../common/app.js"></script>
	<script src="../plugin/swiper/js/swiper.min.js"></script>
	<script src="../assets/js/index.js"></script>
	<script src="../assets/js/custom.js"></script>
	<script src="../assets/js/global.js"></script>
</body>
</html>