<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-首页</title>
  <script src="../common/css.js"></script>
   <link rel="stylesheet" type="text/css" href="../plugin/swiper/css/swiper.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/custorm.css" />
</head>
<body>
<!-- PRELOADER -->
		<div class="page-loader" style="display: none;">
			<div class="loader" style="display: none;">Loading...</div>
		</div>
		<!-- /PRELOADER -->
		<!-- LAYOUT-->
		<div class="layout" id="layout">
			<a href="#" class="navigation-hide"><i class="ion-close-round"></i></a>
			<div class="overlay">
				<ul class="">
					<li>
						<a href="#" title="首页">首页</a>
					</li>
					<li>
						<a href="#" title="商品">商品</a>
					</li>
					<li class="current">
						<a href="#" title="品牌">品牌</a>
					</li>
					<li>
						<a href="#" title="设计师">设计师</a>
					</li>
					<li>
						<a href="#" title="如何选购">如何选购</a>
					</li>
					<li>
						<a href="#" title="最近文章">最近文章</a>
					</li>
					
				</ul>
			</div>
		</div>
		<!-- WRAPPER -->
	<!-- <header class="active navbar-fixed-top">
		<div class="nav-top-wrap">
			<div class="nav-top clearfix">
				<div class="pull-left">
					<span class="tip">Call us for free</span>
					<span class="tel">400-671-1871</span>
					<span class="email">yimijia@163.com</span>
				</div>
				<div class="pull-right nav-top-right">
					<span class="login">登录</span> |
					<span class="myOrder">我的订单</span>
					<i class="myCollect">我的收藏</i>
				</div>
			</div>
		</div>
		
		<div class="nav-wrap">
			<a href="#" class="logo">
				<img src="../assets/img/logo.png">
			</a>
			<nav>
				<a href="#">首页</a>
				<a href="#">商品</a>
				<a href="#">品牌</a>
				<a href="#">设计师</a>
				<p>
					<a href="#">如何选购</a>
					<a href="#">最近文章</a>
				</p>
				<div class="top-search-group">
					<input  style="display: none" />
					<button id="top-search-btn" class="top-search-btn glyphicon glyphicon-search"></button>
				</div>
			</nav>
		</div>
		
	</header> -->
	<div class="wrapper">
		<!-- NAVIGATION -->
			<nav class="navbar navbar-custom navbar-light navbar-fixed-top navbar-transparent">
				<div class="nav-top-wrap">
					<div class="container">
						<div class="pull-left">
							<span class="tip">Call us for free</span>
							<span class="tel">400-671-1871</span>
							<span class="email">yimijia@163.com</span>
						</div>
						<div class="pull-right nav-top-right">
							<span class="login">登录</span> |
							<span class="myOrder">我的订单</span>
							<i class="myCollect">我的收藏</i>
						</div>
					</div>
				</div>
				<div class="container">
					<!-- YOU LOGO HERE -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="" id="navbar-toggle">
					            <span class="sr-only">切换导航</span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					        </button>
						<a class="navbar-brand" href="#"><img src="../assets/img/logo.png" width="180" alt=""></a>
					</div>
					<div class="navbar-collapse collapse " id="example-navbar-collapse">
						<ul class="nav navbar-nav  pull-right">
							<li>
								<a href="#" title="首页">首页</a>
							</li>
							<li>
								<a href="#" title="商品">商品</a>
							</li>
							<li class="current">
								<a href="#" title="品牌">品牌</a>
							</li>
							<li>
								<a href="#" title="设计师">设计师</a>
							</li>
							<li>
								<a href="#" title="如何选购">如何选购</a>
							</li>
							<li>
								<a href="#" title="最近文章">最近文章</a>
							</li>
							<li style="position: relative;">
								<div class="top-search-group">
									<input />
									<button id="top-search-btn" class="top-search-btn glyphicon glyphicon-search"></button>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- /NAVIGATION -->

		<div class="sowingMap">
		<div class="swiper-container swiper1">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="../assets/img/picture/sowingmap1.jpg">
				</div>
				<div class="swiper-slide">
					<img src="../assets/img/picture/sowingmap2.jpg">
				</div>
				<div class="swiper-slide">
					<img src="../assets/img/picture/sowingmap1.jpg">
				</div>
				<div class="swiper-slide">
					<img src="../assets/img/picture/sowingmap2.jpg">
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
			<!-- Add Arrows -->
			<!-- <div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div> -->
		</div>
	</div>
	<div class="container-fluid">
		<article class="row litteBanner">

			
			<div class="col-md-6 col-sm-6 col-xs-6"><img src="../assets/img/picture/img01.jpg" width="100%"></div>
			<ul class="col-md-6 col-sm-6 col-xs-6" style="list-style: none;padding: 0;">
				<li class="col-md-6 col-sm-6 col-xs-6"><img src="../assets/img/picture/img02.jpg" width="100%"></li>
				<li class=" col-md-6 col-sm-6 col-xs-6"><img src="../assets/img/picture/img03.jpg" width="100%"></li>
				<li class="col-md-12 col-sm-12 col-xs-12"><img src="../assets/img/picture/img06.jpg" width="100%"></li>
			</ul>
			
		</article>
		<div class="container overHide">
		    <img src="../assets/img/index_title.jpg" alt="" >
		 </div>
		 <div class="container overHide">
	    <div class="designer buyer">
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	           <img src="../assets/img/picture/img04.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	            <img src="../assets/img/picture/img04.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	            <img src="../assets/img/picture/img04.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	            <img src="../assets/img/picture/img04.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	           <img src="../assets/img/picture/img04.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	            <img src="../assets/img/picture/img04.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	            <img src="../assets/img/picture/img04.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p class="ico-wrap">
	            	<span class="glyphicon glyphicon-heart-empty"></span>
	            	<span class="glyphicon glyphicon-eye-open"></span>
	            </p>
	          </dt>
	          <dd>
	            <img src="../assets/img/picture/img04.jpg">
	          </dd>
	         
	        </dl>
	        <span class="buyer-text">BAILEY SAILEN CHAI</span>
	      </a>
	      
	    </div>
	  </div>
	  </div>
</div>
	<!--设计师-->
	<div class="container-fluid">
	  <div class="container overHide">
	      <img src="../assets/img/foot/designers.png" alt="" >
	  </div>
	  <div class="container overHide">
	    <div class="designer">
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      <a href="#">
	        <dl>
	          <dt>
	            <p>RM Aarchitects设计创始人</p>
	            <p>RICCARDO Minervini</p>
	            <p>RM Architect...</p>
	          </dt>
	          <dd>
	            <img src="../assets/img/foot/pp.jpg">
	          </dd>
	        </dl>
	      </a>
	      
	    </div>
	  </div>
	</div>
	<!--设计师 end-->
	<!--瀑布流开始 -->
	<div class="container-fluid bg-hui-f1">
	  <div class="container waterfalls">
	    <h3>
	      <img src="../assets/img/foot/tit-water.png" alt="">
	    </h3>
	  </div>
	  <!--瀑布流-->
	  <div class="water container" id="main">
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_01.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_02.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_03.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	       <div class="box">
	        <img src="../assets/img/p_04.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_05.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_06.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>
	    <div class="pin">
	      <div class="box">
	        <img src="../assets/img/p_07.jpg" alt="">
	        <a href="#">毛线针织靠垫</a>
	      </div>
	    </div>

	  </div>
	  <div id="loadMore">
	    <p>LOAD MORE ……</p>
	    <span class="glyphicon glyphicon-menu-down animate1"></span>
	    <span class="glyphicon glyphicon-menu-down animate2"></span>
	  </div>
	  <!--瀑布流end -->
	</div>
	<!--瀑布流end -->
	<script src="../common/app.js"></script>
	<script src="../plugin/swiper/js/swiper.min.js"></script>
	<script src="../assets/js/index.js"></script>
	<script src="../assets/js/custom.js"></script>
	<script src="../assets/js/global.js"></script>
</body>
</html>