<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>无恙家居网站-个人资料</title>
  <script src="../common/css.js"></script>

</head>
<body>
	
  <div class="wrapper-page container">
		<!--面包屑-->
		<div class="breadcrumb">
		    <div class="breadcrumb_text">
		      <span >
		      	<a href="index.html" title="">
		      		首页
		      	</a>
		      </span> 
		      <i>&nbsp; / &nbsp;</i>
		      
		      个人中心
		      	
			</div>
        </div>
      <!--面包屑-->
      <div class="row">
	      <div class="col-sm-4 col-md-3 sidebar">
			<div class="sidebar-title"><img src="../assets/img/userCenterTitle.jpg"/></div>
			<div class="user-center-left">
				<a href="#" class="active">个人资料</a>
				<a href="#">我的订单</a>
				<a href="#">我的收藏</a>
				<a href="#">我的评论</a>
				<a href="#">我的消息</a>
				<a href="#">我的优惠券</a>
				<a href="#">账号绑定</a>
				<a href="#">修改密码</a>
				<a href="#">收货地址</a>
			</div>
	      	
	      </div>
	      <div class="col-sm-8 col-md-9 main">
			<div class="address-text userInfoWrap">
				<form id="commentForm" method="post" action="">
				  <div class="form-group">
				    <label for="userImg" style="display: block;">当前头像<i>*</i></label>
				    <div class="userImgWrap"  id="fileid"><!--图片上传按钮-->
				    	<img src="../assets/img/userImg.jpg" id="imgid"><!--预览图片-->
				    </div>
				    <span class="glyphicon glyphicon-picture"></span>
				  </div>
				  <div class="form-group">
				    <label for="userName">用户名<i>*</i></label>
				    <input type="text" class="form-control" id="userName" placeholder="" name="userName" required>
				  </div>
				
				<div class="form-group">
				    <label for="petName">昵称</label>
				    <input type="text" class="form-control" id="petName" placeholder="" name="petName">
				 </div>
				 
				   <div class="form-group">
				    <label for="email">电子邮箱<i>*</i></label>
				    <input type="email" class="form-control" id="email" placeholder="" name="email" required>
				  </div>
				   <div class="form-group">
				    <label>性别<i>*</i></label>
				    <div class="gender">
				    	<label class="radio-inline">
						  <input type="radio" name="gender" value="1" checked="checked"> 男
						</label>
						<label class="radio-inline">
						  <input type="radio" name="gender" value="2"> 女
						</label>
						<label class="radio-inline">
						  <input type="radio" name="gender" value="3"> 保密
						</label>
				    </div>
				  </div>
				  <div class="form-group birthday">
				    <label  style="display: block;">生日<i>*</i></label>
				    <input type="text" class="form-control myDay" name="birthday" placeholder="" required>
				    <span class="glyphicon glyphicon-calendar"></span>
				  </div>
				 <button type="submit" class="address-btn">保存</button>
			</form>
		    </div>
			

	      </div>
    	</div>
  </div>
	<script src="../common/app.js"></script>
	<script src="../assets/js/userinfo.js"></script>
</body>
</html>